@font-face {
    font-family: 'easvhs';
    src: url(easvhs.ttf) format('truetype');;
}

#container {
    display: flex;
}

body {
    flex: 1;
    margin: 0px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

#content {
    flex: 1;
    transform: translateX(-25%);
    transition: transform 0.3s ease;
    transition-duration: 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'easvhs';
}

#content.shifted {
    transform: translateX(3%);
    /* transition: transform 0.3s ease;
    transition-duration: 0.3s; */
}

#contentHeader {
    width: 100vw;
    height: 100px;
    font-size: 100px;
    background-color: red;
    font-family: 'easvhs';
    margin-top: 10px;
    margin-bottom: 10px;
}

#navigationBar {
    font-family: 'easvhs';
    width: 20%;
    background-color: aqua;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    transition: transform 0.3s ease;
    transform: translateX(-100vw);
    transition-duration: 0.3s;
    overflow: hidden;
}

#navigationBar.visible {
    transform: translateX(0);
    overflow: hidden;
}

#navbarButton {
    font-family: 'easvhs';
    width: 5%;
    height: 100vh;
    background-color: blue;
}

#navbarButton:active {
    background-color: aqua;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle when scrolling */
::-webkit-scrollbar-thumb:active {
    background-color: #000;
}

#navBarContactDetails {
    background-color: green;
}
