/*computer*/
@media only screen and (min-width: 600px) and (min-height: 800px) { 
    #container {
        display: flex;
    }
    
    body {
        flex: 1;
        margin: 0px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }

    #postBox {
        background-color: rgb(255, 94, 94);
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 2px solid #490000;
        border-radius: 5px;
        width: 95%;
        margin-bottom: 1%;
        color: black;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    #postBox {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
    }

    #posts :hover {
        background-color: #ffb0b0;
    }

    #insidePost {
        overflow-y: auto;
        max-height: 80vh;
    }

    #postContent img {
        max-width: 250px;
        height: 150px;
        background-color: blue;
        display: block;
    }
    
    #content {
        position: absolute;
        flex: 1;
        transform: translateX(8%);
        transition: transform 0.3s ease;
        transition-duration: 0.4s;
        overflow-y: auto;
        overflow-x: hidden;
        font-family: 'easvhs';
        width: 90vw;
        left: 0;
        top: 0;
    }
    
    #content.shifted {
        transform: translateX(40%);
        width: 70vw;
        /* transition: transform 0.3s ease;
        transition-duration: 0.3s; */
    }
    
    #contentHeader {
        width: 100vw;
        height: 100px;
        font-size: 100px;
        /* background-color: #000000; */
        font-family: 'easvhs';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navigationBar {
        font-family: 'easvhs';
        width: 20%;
        background-color: rgb(255, 81, 81);
        margin-right: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        transition: transform 0.2s ease;
        transform: translateX(-100vw);
        transition-duration: 0.3s;
        overflow: hidden;
        padding-left: 10px;
    }
    
    #navigationBar.visible {
        transform: translateX(0);
        overflow: hidden;
    }
    
    #navbarButton {
        font-family: 'easvhs';
        width: 5%;
        height: 100vh;
        background-color: rgb(177, 0, 0);
    }
    
    #navbarButton:active {
        background-color: rgb(201, 0, 0);
    }
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle when scrolling */
    ::-webkit-scrollbar-thumb:active {
        background-color: #000;
    }
    
    /*CONCEPT ART HTML*/
    #ConceptArtBox {
        flex-direction: column;
        /* background-color: #dfdfdf; */
        padding: 10px;
    }
    
    #posts {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        /* width: 90vw; */
    }
    
    #links a {
        margin-right: 100px;
    }
}


/* For tablets: */
@media only screen and (min-width: 600px) and (min-height: 1000px) { 
    #container {
        display: flex;
    }
    
    body {
        flex: 1;
        margin: 0px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }
    
    #content {
        position: absolute;
        flex: 1;
        transform: translateX(12.5%);
        transition: transform 0.3s ease;
        transition-duration: 0.4s;
        overflow-y: auto;
        overflow-x: hidden;
        font-family: 'easvhs';
        width: 85vw;
        left: 0;
        top: 0;
    }
    
    #content.shifted {
        transform: translateX(50%);
        width: 65vw;
        /* transition: transform 0.3s ease;
        transition-duration: 0.3s; */
    }
    
    #contentHeader {
        width: 100vw;
        height: 100px;
        font-size: 95px;
        /* background-color: #000000; */
        font-family: 'easvhs';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navigationBar {
        font-family: 'easvhs';
        width: 20%;
        background-color: rgb(255, 81, 81);
        margin-right: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        transition: transform 0.2s ease;
        transform: translateX(-100vw);
        transition-duration: 0.3s;
        overflow: hidden;
        padding-left: 10px;
    }
    
    #navigationBar.visible {
        transform: translateX(0);
        overflow: hidden;
    }
    
    #navbarButton {
        font-family: 'easvhs';
        width: 10%;
        height: 100vh;
        background-color: rgb(177, 0, 0);
    }
    
    #navbarButton:active {
        background-color: rgb(201, 0, 0);
    }
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle when scrolling */
    ::-webkit-scrollbar-thumb:active {
        background-color: #000;
    }
    
    /*CONCEPT ART HTML*/
    #ConceptArtBox {
        flex-direction: column;
        /* background-color: #dfdfdf; */
        padding: 10px;
    }
    
    #posts {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        /* width: 90vw; */
    }
    
    #links a {
        margin-right: 100px;
    }

    img {
        width: 80vw;
    }
}

/*large phones*/
@media only screen and (max-width: 500px) and (max-height: 1000px) { 
    #container {
        display: flex;
    }
    
    body {
        flex: 1;
        margin: 0px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }
    
    #content {
        position: absolute;
        flex: 1;
        transform: translateX(17.5vw);
        transition: transform 0.3s ease;
        transition-duration: 0.4s;
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'easvhs';
        width: 80vw;
        left: 0;
        top: 0;
    }
    
    #content.shifted {
        transform: translateX(60%);
        width: 0vw;
        /* transition: transform 0.3s ease;
        transition-duration: 0.3s; */
    }
    
    #contentHeader {
        width: 100vw;
        height: 115px;
        font-size: 15vw;
        /* background-color: #000000; */
        font-family: 'easvhs';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navigationBar {
        font-family: 'easvhs';
        width: 65vw;
        background-color: rgb(255, 81, 81);
        margin-right: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        transition: transform 0.2s ease;
        transform: translateX(-100vw);
        transition-duration: 0.3s;
        overflow: hidden;
        padding-left: 10px;
    }
    
    #navigationBar.visible {
        transform: translateX(0px);
        overflow: hidden;
    }
    
    #navbarButton {
        font-family: 'easvhs';
        width: 15%;
        height: 100vh;
        background-color: rgb(177, 0, 0);
    }
    
    #navbarButton:active {
        background-color: rgb(201, 0, 0);
    }
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle when scrolling */
    ::-webkit-scrollbar-thumb:active {
        background-color: #000;
    }
    
    /*CONCEPT ART HTML*/
    #ConceptArtBox {
        flex-direction: column;
        /* background-color: #dfdfdf; */
        padding: 10px;
    }
    
    #posts {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        /* width: 90vw; */
    }
    
    #links a {
        margin-right: 100px;
        flex-wrap: wrap;
    }

    img {
        width: 60vw;
    }
}

/*small phones*/
@media only screen and (max-width: 450px) and (max-height: 900px) { 
    #container {
        display: flex;
    }
    
    body {
        flex: 1;
        margin: 0px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }
    
    #content {
        position: absolute;
        flex: 1;
        transform: translateX(17.5vw);
        transition: transform 0.3s ease;
        transition-duration: 0.4s;
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'easvhs';
        width: 60vw;
        left: 0;
        top: 0;
    }
    
    #content.shifted {
        transform: translateX(60%);
        width: 0vw;
        /* transition: transform 0.3s ease;
        transition-duration: 0.3s; */
    }
    
    #contentHeader {
        width: 100vw;
        height: 115px;
        font-size: 15vw;
        /* background-color: #000000; */
        font-family: 'easvhs';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navigationBar {
        font-family: 'easvhs';
        width: 65vw;
        background-color: rgb(255, 81, 81);
        margin-right: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        transition: transform 0.2s ease;
        transform: translateX(-100vw);
        transition-duration: 0.3s;
        overflow: hidden;
        padding-left: 10px;
    }
    
    #navigationBar.visible {
        transform: translateX(0px);
        overflow: hidden;
    }
    
    #navbarButton {
        font-family: 'easvhs';
        width: 15%;
        height: 100vh;
        background-color: rgb(177, 0, 0);
    }
    
    #navbarButton:active {
        background-color: rgb(201, 0, 0);
    }
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle when scrolling */
    ::-webkit-scrollbar-thumb:active {
        background-color: #000;
    }
    
    /*CONCEPT ART HTML*/
    #ConceptArtBox {
        flex-direction: column;
        /* background-color: #dfdfdf; */
        padding: 10px;
    }
    
    #posts {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        /* width: 90vw; */
    }
    
    #links a {
        margin-right: 100px;
        flex-wrap: wrap;
    }
}

/*samsung galaxies s8+*/
@media only screen and (max-width: 380px) and (max-height: 800px) { 
    #container {
        display: flex;
    }
    
    body {
        flex: 1;
        margin: 0px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }
    
    #content {
        position: absolute;
        flex: 1;
        transform: translateX(17.5vw);
        transition: transform 0.3s ease;
        transition-duration: 0.4s;
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'easvhs';
        width: 70vw;
        left: 0;
        top: 0;
    }
    
    #content.shifted {
        transform: translateX(60%);
        width: 0vw;
        /* transition: transform 0.3s ease;
        transition-duration: 0.3s; */
    }
    
    #contentHeader {
        width: 100vw;
        height: 115px;
        font-size: 15vw;
        /* background-color: #000000; */
        font-family: 'easvhs';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navigationBar {
        font-family: 'easvhs';
        width: 65vw;
        background-color: rgb(255, 81, 81);
        margin-right: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        transition: transform 0.2s ease;
        transform: translateX(-100vw);
        transition-duration: 0.3s;
        overflow: hidden;
        padding-left: 10px;
    }
    
    #navigationBar.visible {
        transform: translateX(0px);
        overflow: hidden;
    }
    
    #navbarButton {
        font-family: 'easvhs';
        width: 15%;
        height: 100vh;
        background-color: rgb(177, 0, 0);
    }
    
    #navbarButton:active {
        background-color: rgb(201, 0, 0);
    }
    
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle when scrolling */
    ::-webkit-scrollbar-thumb:active {
        background-color: #000;
    }
    
    /*CONCEPT ART HTML*/
    #ConceptArtBox {
        flex-direction: column;
        /* background-color: #dfdfdf; */
        padding: 10px;
    }
    
    #posts {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        /* width: 90vw; */
    }
    
    #links a {
        margin-right: 100px;
        flex-wrap: wrap;
    }
}

@font-face {
    font-family: 'easvhs';
    src: url(easvhs.ttf) format('truetype');;
}