<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/asteroidAvoid.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Asteroid Avoid</title>
</head>
<body>
<div id="container">
    <!-- v-if="isVisibleNavBar" -->
    <button id="navbarButton" @click="toggleNavBar">SHOW NAVBAR</button>
    <div id="navigationBar" :class="{ 'visible': isVisibleNavBar }">
        <br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Navigation!</h2>
            <ol><a href="/index.html" style="font-size: 150%">Home</a></ol>
            <ol><a href="/aboutme.html" style="font-size: 150%">About Me</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Projects</h2>
            <ol><a href="/creatureCreator_index.html">Creature Creator</a></ol>
            <ol><a href="/asteroidAvoid_index.html">Asteroid Avoid</a></ol>
            <ol><a href="/plantSimulator_index.html">Plant Simulator</a></ol>
            <ol><a href="/theMall_index.html">The Mall</a></ol>
            <ol><a href="/thisWebsite_index.html">This Website</a></ol>
        </div>
        <br><br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Contact Me!</h2>
            <h2 style="font-size: 150%; padding-left: 10%;">Socials</h2>
            <ol><a href="https://github.com/amber-wolf0">GitHub (Personal)</a></ol>
            <ol><a href="https://github.com/im2013">GitHub (University)</a></ol>
            <ol><a href="https://www.linkedin.com/in/iona-moynihan-11ba15263/">LinkedIn</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Email</h2>
            <ol>ionamoynihan003@gmail.com</ol>
        </div>
    </div>

    <div id="theMall_sideBar" :class="{ 'shifted': isVisibleNavBar }">
        <!--posts here-->
        <div id="theMall_postBox" v-for="(post, index) in posts" :key="index">
            <a href="#" @click.prevent="changePost(post.url)">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.date }}</h2>
            </a>
        </div>
    </div>
    <div id="theMall_content" :class="{ 'shifted': isVisibleNavBar }">
        <h1>Asteroid Avoid Devlog</h1>
        <p>My game for my dissertation project, the premise is that you are an alien within a spaceship who must survive avoiding the incoming asteroids. There is a time 
            limit of 2 minutes, and there are 3 game modes, which are used for an experiment I'm conducting for my dissertation.
        </p>
        <br>
        <div id="content">
            <iframe :src="currentPost" width="100%" height="600px" style="border: none;"></iframe>
        </div>
    </div>
</div>
</body>
<script>
    new Vue ({
        el: '#container',
        data: {
            isVisibleNavBar: false,
            currentPost: '/asteroidA_posts/2025-01-26.html', // Default post
            posts: [
                { title: 'Finalising Features', date: '26-01-2025', url: '/asteroidA_posts/2025-01-26.html' },
                { title: 'Adding Gamemode 3', date: '05-01-2025', url: '/asteroidA_posts/2025-01-05.html' },
                { title: 'Implemented Gameplay Modes 1 and 2', date: '02-01-2025', url: '/asteroidA_posts/2025-01-02.html' },
                { title: 'Setting up the Scene', date: '01-01-2025', url: '/asteroidA_posts/2025-01-01.html' },
            ]
        },
        onmount() {
        },
        methods: {
            toggleNavBar() {
                this.isVisibleNavBar = !this.isVisibleNavBar;
            },
            changePost(newUrl) {
            this.currentPost = newUrl;
            }
        }
    });


</script>

</html>