<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/creatureCreator.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Creature Creator</title>
</head>
<body>
<div id="container">
    <!-- v-if="isVisibleNavBar" -->
    <button id="navbarButton" @click="toggleNavBar">SHOW NAVBAR</button>
    <div id="navigationBar" :class="{ 'visible': isVisibleNavBar }">
        <br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Navigation!</h2>
            <ol><a href="/index.html" style="font-size: 150%">Home</a></ol>
            <ol><a href="/aboutme.html" style="font-size: 150%">About Me</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Projects</h2>
            <ol><a href="/creatureCreator_index.html">Creature Creator</a></ol>
            <ol><a href="/asteroidAvoid_index.html">Asteroid Avoid</a></ol>
            <ol><a href="/plantSimulator_index.html">Plant Simulator</a></ol>
            <ol><a href="/theMall_index.html">The Mall</a></ol>
            <ol><a href="/thisWebsite_index.html">This Website</a></ol>
        </div>
        <br><br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Contact Me!</h2>
            <h2 style="font-size: 150%; padding-left: 10%;">Socials</h2>
            <ol><a href="https://github.com/amber-wolf0">GitHub (Personal)</a></ol>
            <ol><a href="https://github.com/im2013">GitHub (University)</a></ol>
            <ol><a href="https://www.linkedin.com/in/iona-moynihan-11ba15263/">LinkedIn</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Email</h2>
            <ol>ionamoynihan003@gmail.com</ol>
        </div>
    </div>

    <div id="theMall_sideBar" :class="{ 'shifted': isVisibleNavBar }">
        <!--posts here-->
        <div id="theMall_postBox" v-for="(post, index) in posts" :key="index">
            <a href="#" @click.prevent="changePost(post.url)">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.date }}</h2>
            </a>
        </div>
    </div>
    <div id="theMall_content" :class="{ 'shifted': isVisibleNavBar }">
        <h1>Creature Creator</h1>
        <p>
            An application where I wish to create animals or other organisms from scratch. I am making this application using C# within the Unity Engine, and all 3D modelling 
            is done within Blender. The aim of this app is to be able to save, load, export (as FBX files) completely new animals and creatures. I hope to make this creature 
            creator very customisable with the help of UI, blend shapes and bezier curves. The animal created is to have a full anatomy including a skeleton, muscles, a basic organ system, skin and fat.
        </p>
        <br>
        <div id="content">
            <iframe :src="currentPost" width="100%" height="600px" style="border: none;"></iframe>
        </div>
    </div>
</div>
</body>
<script>
    new Vue ({
        el: '#container',
        data: {
            isVisibleNavBar: false,
            currentPost: '/creatureC_posts/2025-01-29.html', // Default post
            posts: [
                { title: 'Starting Up!', date: '29-01-2025', url: '/creatureC_posts/2025-01-29.html' },
            ]
        },
        onmount() {
        },
        methods: {
            toggleNavBar() {
                this.isVisibleNavBar = !this.isVisibleNavBar;
            },
            changePost(newUrl) {
            this.currentPost = newUrl;
            }
        }
    });


</script>

</html>