<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/plantSim.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Plant Simulator</title>
</head>
<body>
<div id="container">
    <!-- v-if="isVisibleNavBar" -->
    <button id="navbarButton" @click="toggleNavBar">SHOW NAVBAR</button>
    <div id="navigationBar" :class="{ 'visible': isVisibleNavBar }">
        <br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Navigation!</h2>
            <ol><a href="/index.html" style="font-size: 150%">Home</a></ol>
            <ol><a href="/aboutme.html" style="font-size: 150%">About Me</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Projects</h2>
            <ol><a href="/asteroidAvoid_index.html">Asteroid Avoid</a></ol>
            <ol><a href="/plantSimulator_index.html">Plant Simulator</a></ol>
            <ol><a href="/theMall_index.html">The Mall</a></ol>
            <ol><a href="/thisWebsite_index.html">This Website</a></ol>
        </div>
        <br><br>
        <div id="navBarContactDetails">
            <h2 style="font-size: 200%; padding-left: 10%;">Contact Me!</h2>
            <h2 style="font-size: 150%; padding-left: 10%;">Socials</h2>
            <ol><a href="https://github.com/amber-wolf0">GitHub (Personal)</a></ol>
            <ol><a href="https://github.com/im2013">GitHub (University)</a></ol>
            <ol><a href="https://www.linkedin.com/in/iona-moynihan-11ba15263/">LinkedIn</a></ol>
            <h2 style="font-size: 150%; padding-left: 10%;">Email</h2>
            <ol>ionamoynihan003@gmail.com</ol>
        </div>
    </div>

    <div id="theMall_sideBar" :class="{ 'shifted': isVisibleNavBar }">
        <!--posts here-->
        <div id="theMall_postBox" v-for="(post, index) in posts" :key="index">
            <a href="#" @click.prevent="changePost(post.url)">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.date }}</h2>
            </a>
        </div>
    </div>
    <div id="theMall_content" :class="{ 'shifted': isVisibleNavBar }">
        <h1>Plant Simulator Devlog</h1>
        <p>A plant simulator I plan to use for numerous more personal projects in future. I wanted an application that could emulate plant life, including 
            germination and other plant stages, day/night growth and growing habits. This project aims to have 3D plants with several 'parts' such as leaves, flowers, etc. 
            and a proper simulation of a map including weather, temperature changes, seasons (with a map simulating the different types of seasons around the world), altitude, 
            soil types.
        </p>
        <br>
        <div id="content">
            <iframe :src="currentPost" width="100%" height="600px" style="border: none;"></iframe>
        </div>
    </div>
</div>
</body>
<script>
    new Vue ({
        el: '#container',
        data: {
            isVisibleNavBar: false,
            currentPost: '/plantSim_posts/2024-12-21.html', // Default post
            posts: [
                { title: 'Moving into Unity Engine', date: '21-12-2024', url: '/plantSim_posts/2024-12-21.html' },
                { title: 'C# Mockup', date: '20-12-2024', url: '/plantSim_posts/2024-12-10.html'},
            ]
        },
        onmount() {
        },
        methods: {
            toggleNavBar() {
                this.isVisibleNavBar = !this.isVisibleNavBar;
            },
            changePost(newUrl) {
            this.currentPost = newUrl;
            }
        }
    });


</script>

</html>